.input-container {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  height: 150px;
}

.link-input {
  max-width: 500px;
  width: 90%
}

.link-form {
  width: 100%;
  display: flex;
  justify-content: center;
}